

.principal {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  background-color: black;
  background: url("../../../assets/imgs/404.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
  border: 5px red;
  margin:0;
}

.menu-failed {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: white;
  padding: 60px;
}

.menu-failed h1 {
    background-color: black;
    font-size: 1.5rem;
}

.menu-failed h1 {
  margin-bottom: 20px; 
}

.voltar-div {
  background-color: black;
  margin:0;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


.voltar-div h1 {
  color: white;
  background-color: black;
  padding: 10px;
}

.voltar-div button{
 background-color: black;
 color: white;
 padding: 15px;
 border-radius: 5px;;
 border: 2px solid white;
 margin-top: 25px;
 cursor: pointer;
}
